.header {
    color: blue;
    background-color: rgb(247, 242, 242);
    font-size: 50px;
    text-align: center
}

.outline-header {
    color: yellow;
    background-color: gray;
    font-size: 50px;
    text-align: center
}